.btn {
  background-color: lawngreen;
  position: absolute;
  right: 20%;
  bottom: 0;
  min-width: 20%;
  min-height: 40%;
}
.text {
  width: 20%;
  height: 100%;
  float: right;
  background-color: ivory;
  position: absolute;
  right: 0;
  top: 0;
}
