.my-btn-area {
  background-color: lawngreen;
  position: absolute;
  order:2;
  align-content: center;
  display: inline-block;
  bottom: 15%;
  right: 21%;
  max-width: 20%;
  width: 10%;
  height: 25%;
}
.btn{
  position: relative;
  height: 100%;
  align-content: center;
  width: 45%;
  display: inline-block;
  
}
.left{
  order:1;
  top: 45% ;
  float: left;
  bottom: 40%;
}
.right{
  order:2;
  top: 45%;
  bottom: 40%;
}
.my-txt-area {
  position: absolute;
  order: 1;
  width: 20%;
  height: 100%;
  background-color: ivory;
  right: 0;
  top: 0;
  margin-bottom: 5px;
}